body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-image: linear-gradient(25deg, #6a4cd6, hsl(197, 83%, 61%) 50%);
}

.container {
  width: 600px;
  background-color: rgba(255, 255, 240, 0.879);
  position: relative;
  padding: 2rem;
  border-radius: 5px;
  box-shadow: 5px 10px rgb(0 0 0 / 0.2);
}

tbody>tr:hover {
  background-color: #D6EEEE;
}

th {
  text-align: left;
}

.position {
  font-weight: bold;
  padding-right: 10px;
}